
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.header{
    width:100%;
    display:flex;
    justify-content: center;
    position:relative;
    
    
    .sub-header{
        width:60%;

    }
    


    .nav-sub-header{
        width:100%;
        display:flex;
        justify-content: space-between;
    
    
        a{
            margin:10px;
            text-decoration: none;
            color:black;
    
        }
    }

}

